.user_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 333px;
  height: 212px;
  padding: 20px;
  background: #ffffff;
  border-radius: 16px;
}

.user_list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
  padding: 0;
}

.user_photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.getRequest_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  row-gap: 38px;
}

@media screen and (max-width: 1280px) {
  .user_list {
    gap: 25px;
  }

  .user_item {
    width: 242px;
    height: 214px;
  }
}

@media screen and (max-width: 800px) {
  .user_list {
    gap: 16px;
  }

  .user_item {
    width: 304px;
    height: 214px;
  }
}

@media screen and (max-width: 400px) {
  .user_list {
    gap: 19px;
  }

  .user_item {
    width: 288px;
    height: 214px;
  }
}
